

/* SIDEBAR */
.sidebar {
  width: 17%;
  background-color: #ededed; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.container_body div ul {
  width: 97%;
  background: #d5d5d5; 
}

.sidebar_menu {
  width: 100%; 
  height: 80%;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: auto;
  width: 100%; 
  background: #fff; 
  border: none;
}

.category-list li {
  font-size: 13px;
  padding: 6px;
  display: flex; 
  align-items: center; 
}

.category-list li .nav_icon_book {
  width: 13px;
  margin-right: 4px; 
}

.category-list li:hover {
  background: #f9f9f9;
}

.sidebar_email{
  padding: 0;
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-register {
  width: 95%; 
  padding: 14px;
  background: #fff; 
  text-align: center;
}

.email-register h4 {
  margin-bottom: 10px;
}

.email-register input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.email-register button {
  width: 100%;
  padding: 5px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.email-register button:hover {
  background: #218838;
}

/* Container chứa danh sách */
.content{
	width: 100%;
}
.book-list {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;  
    align-items: center;  
    justify-content: center;     
}

/* Card sách */
.book-card {
    flex: 0 0 auto;  
	width: 260px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-card .card-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.book-card .btn {
    margin-top: auto; 
    background: #007bff;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

 /* Page number */
.container_pagination{
  width: 100%;
  height: 100px;
  background: #ffffff;
  padding: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*   Phan trang */
.pagination {
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}



@media (max-width: 768px) {
    .header .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .title-header {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    .nav-header ul {
        flex-direction: column;
    }

    .nav-header input.form-control {
        width: 100%;
        margin: 10px 0;
    }
}
